<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="mashin.oep.editor.WorkflowEditor"
            contributorClass="mashin.oep.actions.WorkflowActionBarContributor"
            default="false"
            extensions="xml, workflow"
            icon="src/main/java/mashin/oep/icons/oozie16.gif"
            id="mashin.oep.editor.flow"
            name="Workflow Editor">
            <contentTypeBinding
                  contentTypeId="mashin.oep.oozie.workflow">
            </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml, workflow"
            id="mashin.oep.oozie.workflow"
            name="Oozie Workflow"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="workflow-app">
            </parameter>
         </describer>
      </content-type>
   </extension>
</plugin>
